.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #5d6972;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
  font-size: calc(20px + 2vmin);
  color: rgb(44, 26, 26);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.title-1{
  color: #c6c9ca;
  font-size: 20px;
}
.img{
  width: 300px;
  height: auto;
  opacity: 90%;
}
.container{
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
.title-2{
  color: red;
  font-size: 20px;
}